// ==============================================
// VARIABLES - Fonts
// ==============================================

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

//
//  Base fonts
//  _____________________________________________

$Arial:             Arial, "Helvetica Neue", Helvetica, serif;
$Helvetica:         "Helvetica Neue", Helvetica, Arial, sans-serif;
$Tahoma:            Tahoma, Verdana, Segoe, sans-serif;
$TimesNewRoman:     "Times New Roman", Times, Baskerville, Georgia, serif;
$Verdana:           Verdana, Geneva, sans-serif;
$OpenSans:          'Open Sans', sans-serif;

//
//  Project fonts
//  _____________________________________________

$f-base:                $OpenSans;