.weather-tile-forecast {
  width: 100%;
  margin-bottom: 40px;

  &__title {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
  }

  &__list {
    @include breakpoint(md){
      display: flex;
      margin-left: -10px;
      margin-right: -10px;
      width: 100%;
    }

    li {
      @include breakpoint(md){
        flex: 1;
        margin: 10px;
      }

      & + li {
        margin-top: 20px;

        @include breakpoint(md){
          margin-top: 10px;
        }
      }
    }
  }
}